<div class="row">
    <div class="col-md-12">
        <div id="form-container">
            <div class="page-header text-center">
                <h1>nomumo</h1>
            </div>
            <br>
            <br>
            <h2>Was ist nomumo?</h2>
            nomumo ist eine Open-Source-Alternative zu Terminplanern wie z.B. doodle.com.
            <br>
            <h2>Implementierung</h2>
            <h3>Frontend</h3>
            Das Frontend verwendet moderne Technologien wie beispielsweise:
            <ul>
                <li>HTML5</li>
                <li>JavaScript (Framework: AngularJS)</li>
                <li>CSS (Bootstrap)</li>
            </ul>
            <h3>Backend</h3>
            Alle Daten werden in einer MySQL-Datenbank gespeichert, verwaltet und stehen über eine RESTful-API einer NodeJS-Applikation zur Verfügung. Neben der API hostet NodeJS die eigentliche Website. Als SMTP-Server verwendet nomumo.de eine Microsoft-Exchange-Instanz. Der Exchange-Server kann jedoch beliebig geändert werden.
            <br>

            <h2>Open source</h2>
            Sie finden nomumo auf GitHub unter folgendem Link: <br>
            <a href="https://github.com/danielbeicht/nomumo" target="_blank">
                <img src="assets/img/GitHub_Logo.png" alt="Github" width="300"><br>
                https://github.com/danielbeicht/nomumo
            </a>
        </div>
    </div>
</div>