<div class="row">
    <div class="col-md-12">
        <div id="form-container">
            <div class="page-header text-center">
                <h1>nomumo</h1>
            </div>
            <br>
            <br>

            <h2>What is nomumo?</h2>
            Nomumo is an advanced scheduling tool that can be used to easily find and appoint a date and time for any activity attended by multiple people. If you want to find the perfect day for your party or the next trip, you can predefine some available dates and times for each date and immediately start a poll.
            <br><br>
            <h2>Features</h2>
            <ul>
                <li>Fast creation of online polls to find the best point in time for any event</li>
                <li>Convenient date picker for quick and simple selection of all eligible days</li>
                <li>Easy editing of each participant’s entry to change the name or status of acceptance</li>
                <li>Different poll modes for different requirements: Yes-No, Yes-(Yes)-No and Yes-Maybe-No polls for your specific needs</li>
                <li>Comment function with an optional notification feature in case of new messages</li>
                <li>Google Maps service implementation to offer every participant of your poll the exact location of the planned event</li>
                <li>Privacy: all your data (except the location in case you use the Google Maps functionality) remain on our servers – no disclosure to third parties</li>
                <li>Completely built with open source (AngularJS, Bootstrap, Node.js, MySQL)</li>
            </ul>
            <br><br>

            <h2>Implementation</h2>
            <h3>Frontend</h3>
            <ul>
                <li>HTML5</li>
                <li>JavaScript (AngularJS)</li>
                <li>CSS3 (Bootstrap)</li>
            </ul>
            <h3>Backend</h3>
            <ul>
                <li>JavaScript (Node.js)</li>
                <li>Database (MySQL)</li>
            </ul>
            <br><br>
            <h2>Open source</h2>
            You can find the repository under the following link: <br>
            <a href="https://github.com/danielbeicht/nomumo" target="_blank">
                <img src="assets/img/GitHub_Logo.png" alt="Github" width="300"><br>
                https://github.com/danielbeicht/nomumo
            </a>

            <br><br>

            <h2>Changelog</h2>
            <h3>Version: 1.0.0 (18.08.2016)</h3>
            <ul>
                <li>release of nomumo.de</li>
            </ul>
        </div>
    </div>
</div>