<div class="row">
            <div class="col-md-12">
                <div id="form-container" class="text-center">
                <div class="page-header text-center">
                    <h1>nomumo</h1>
                </div>
                    <br>
                    <br>
                    <h4>{{ 'CREATED_TEXT' | translate }}</h4>
                    <br>
                    <h3><a ng-href="/poll/{{ pollID }}">{{pollURL}}</a></h3>
                    <br><br><br>

                    <button class="btn btn-success" clipboard text="pollURL">{{ 'CREATED_CLIPBOARD' | translate }}</button>
                    <br><br><br>
        </div>
    </div>
</div>